language: node_js
node_js:
  - lts/*
install:
  - yarn install # npm ci
script:
  - yarn build # npm run docs:build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  github_token: 
    secure: kxrLo7E1ToiqNdBKsLT4KEkFVXjUteYJwJGncfnfZmm14cDLd1JaVE91kxtHQ8eVl9gY36E7GL007r9BwJohCozJwY47QBnJN478bqecrom3U2igPO0nj4xuJZsf1WAxyGbGkqQC5kp+K5e41PA+gqe/ORMgx7wi/eD2kHfQnmHCOLeCC5/AITkp1zqWmB58d++rM5nTwT/WG4nv5MzNAy+6bDCUsl1wVpNt66pawu2NfcNxYlbhfmCegb8WTnf2zik4rQl7jBOqTs9YfhxP0I8m5RbgZ+GAQSG2+ud+7AiHbdYrnz48DEiWzFDXa50K1tvmKsPdNxhVUkrwOVPE101wlh/V9kHhFHzd4wxu2GJdUSAT8JtiBTwYCUcp/zfbOW1390Epg9y0ObTh9ZuvSyL7CDeS/o0SSC+ABHrISuhYQBxLda0r5fz2QeDI69PvYxefNKSBlRiCOPvonnz5E+OxV2M3Qzx2h/ci7srjBRfwKVkewxAbx8uH6dHKO8dxLfHmkUgaJlZKkIk7f+xtvGYsIfqvlhM/4pQ1wS5nuPst8KjY2+AC0G+cOjNFium5uZL9kp+sPGw1/MUNo33OLxl583HkbUOsOf9Ji4pjJui/9zr8Jdn2OrkGLL5VwMtEgBY2Q5XIvyUdoLpxANbAGXcafqG+LBoa46Gz1MlZbQ8=
  keep_history: true
  on:
    branch: master